.landing-container {
  background: url("/landing-background.jpg") top left / cover no-repeat;
  height: calc(100vh - 4rem);
  position: relative;
}

.landing-text-container {
  position: absolute;
  top: 10%;
  left: 10%;

  background: rgba(0, 0, 0, 0.15);

  padding: 2rem 3rem;
  border-radius: 0.5rem;
}
