.btn {
  border: none;
  outline: none;
  background: var(--primary-color);
  color: var(--contrast-color);
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}

.btn.yes-button {
  background: var(--success-color);
}

.btn.no-button {
  background: var(--error-color);
}

.btn.yes-button:hover,
.btn.yes-button:focus {
  background: var(--success-color-highlight);
}

.btn.no-button:hover,
.btn-yes-button:focus {
  background: var(--error-color-highlight);
}

.btn:hover,
.btn:focus {
  background: var(--secondary-color);
}

.btn:disabled {
  background: #aaa;
  color: var(--text-color);
}

.link-btn {
  display: inline-block;
  text-decoration: none;
}
