.btn {
  min-width: 7.5rem;
  font-family: "Nunito", sans-serif;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  text-align: center;
}

.btn.primary-background:hover {
  background: var(--secondary-color);
}

.btn-link {
  text-decoration: none;
  display: inline-block;
}
