.table {
  width: 100%;
}

.header-row {
  background: var(--primary-color);
}

.header-cell {
  color: var(--contrast-color);
  border-spacing: 0;
}

.table-cell {
  color: var(--text-color);
}

.header-cell,
.table-cell {
  padding: 0.25rem 0.75rem;
}

.table-cell.edit-cell {
  padding: 0 0.75rem;
}

.delete-cell::before,
.edit-cell::before {
  color: var(--primary-color);
}

.edit-cell:hover::before,
.delete-cell:hover::before {
  color: var(--secondary-color);
}

.edit-cell::before {
  content: "\f304";
}

.delete-cell::before {
  content: "\f1f8";
}

.empty-cell {
  text-align: center;
}
