.manage-header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
}

.team-name {
  font-size: 1.5rem;
  color: var(--primary-color);
  text-transform: uppercase;
}

.icon-button {
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
}
